.form__button {
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  border: none;
  padding: none;
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  font-style: normal;
  background-color: #000;
  transition: opacity 0.3s linear;
  align-self: center;
  margin: 38px 0 37px 0;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .form__button {
    width: 238px;
    font-size: 14px;
    margin: 45px 0 25px 0;
  }
}
