.profile__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  font-style: normal;
  padding: 0;
  margin: 0;
  max-width: 450px;
}

@media screen and (max-width: 1200px) {
  .profile__title {
    font-size: 35px;
    line-height: 1.21;
    max-width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .profile__title {
    font-size: 35px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 425px) {
  .profile__title {
    font-size: 27px;
    line-height: 1.21;
  }
}
