.form__input {
  width: 100%;
  min-height: 45px;
  background: transparent;
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input:focus {
  outline: none;
}

.form__input:first-child {
  margin-bottom: 17px;
}
